---
name: gomod-go-version-updater-action
"on":
  schedule:
    - cron: "42 5 * * 1-5"
permissions:
  contents: write
  pull-requests: write
  repository-projects: write
jobs:
  gomod-go-version-updater-action:
    runs-on: ubuntu-22.04
    steps:
      - uses: schubergphilis/gomod-go-version-updater-action@v0.3.0
